.purp {
    background-color: purple;
}
p {
    color: white;
    margin-left: 1em;
}

body {
    background-color: purple;
}

.maincontent {
    max-width: 75%;
    background-color: black;
    margin: 0 auto;
    height: 1000px;
}