h1 {
    color: green;
}
/* .navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#a442f4 0,#a442f4 100%) !important; /* override background image gradient w/ flat color */
/* }  */

.navbar,
.navbar-default {
    background-color: #a442f4 !important;
}

.navbar-brand,
.navbar-inverse {
    color: white !important;
}