/* General page styles */
body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }

/* Styles for card container setup */
.card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
}
/* Styles for header and footer */
.card header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
    height: 5em;
}

.card footer {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
    height: 5em;
}
/* Should use just normal four corner padding instead of using padding-left, padding-top etc */
.card h2, p {
    margin: 0;
    padding-left: 1em;
    padding-top: 0.5em
}

.card header h2 {
    font-size: 2em;
    height: 2em;
}
.card footer p {
    font-size: 1.5em;
}

/* Styles for main business card contents */
.card article img {
    max-height: 100%;
    float: right;
}
.card article {
    height: 12em;
    background-color: rgba(1,1,1,0.2);
    color: white;
    padding-left: 1em;
}